<<?php
$DB['TYPE']     = 'MYSQL';
$DB['SERVER']   = '{{ ZBX_DB_HOST }}';
$DB['PORT']     = '{{ ZBX_DATABASE_PORT }}';
$DB['DATABASE'] = 'zabbix';
$DB['USER']     = 'zabbix';
$DB['PASSWORD'] = '{{ ZBX_DB_PASSWORD }}';

$ZBX_SERVER      = '{{ ZBX_SERVER  }}';
$ZBX_SERVER_PORT = '{{ ZBX_SERVER_PORT }}';
$ZBX_SERVER_NAME = '{{ ZBX_SERVER_NAME }}';
?>
